---
import type { GetStaticPathsOptions, Page } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Pagination from "@components/Pagination.astro";
import { PAGE_SIZE } from "@content/config";
import PageHeading from "@components/PageHeading.astro";
import BlogCard from "@components/BlogCard.astro";
import { filterDraftArticles } from "src/filter";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const blogPosts = await getCollection("blog", filterDraftArticles);
	return paginate(blogPosts, { pageSize: PAGE_SIZE });
}

interface Props {
	page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
---

<BaseLayout title="Blog | Jay Parry">
	<PageHeading>
		All <span class="text-primary">posts</span>
	</PageHeading>

	<section class="pt-6">
		<div class="space-y-6">
			{
				page.data.map((p) => (
					<BlogCard
						title={p.data.title}
						publishDate={p.data.publishDate}
						to={`/blog/${p.slug}`}
						description={p.data.description}
					/>
				))
			}
		</div>
	</section>

	<div class="pt-8 text-center">
		<Pagination {page} />
	</div>
</BaseLayout>
