---
import type { GetStaticPathsOptions, Page } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import ProjectCard from "@components/ProjectCard.astro";
import Pagination from "@components/Pagination.astro";
import { PAGE_SIZE } from "@content/config";
import PageHeading from "@components/PageHeading.astro";
import { filterDraftArticles } from "src/filter";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const projects = await getCollection("project", filterDraftArticles);
	return paginate(projects, { pageSize: PAGE_SIZE });
}

interface Props {
	page: Page<CollectionEntry<"project">>;
}

const { page } = Astro.props;
---

<BaseLayout title="Projects | Jay Parry">
	<PageHeading>
		All <span class="text-primary">projects</span>
	</PageHeading>

	<section class="pt-6">
		<div class="space-y-12">
			{
				page.data.map((p) => (
					<ProjectCard
						title={p.data.title}
						to={`/projects/${p.slug}`}
						content={p.data.description}
						image={p.data.image}
						articleStatus={p.data.status}
					/>
				))
			}
		</div>
	</section>

	<div class="pt-8 text-center">
		<Pagination {page} />
	</div>
</BaseLayout>
