---
import type { GetStaticPathsOptions } from "astro";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const projects = await getCollection("project");
	return paginate(projects, { pageSize: 10 });
}

const { page } = Astro.props;
---

<BaseLayout title="Projects | Jay Parry">
	<!-- {page.data.map((p: any) => <div>{JSON.stringify(p)}</div>)} -->
	<div class="space-y-6">
		{
			page.data.map((p: any) => (
				<Card title={p.data.title} to={`/projects/${p.slug}`} content={p.data.body} image={p.data.image} />
			))
		}
	</div>
</BaseLayout>
