---
import PageHeading from "@components/PageHeading.astro";
import BaseLayout from "./BaseLayout.astro";
import Tag from "@components/Tag.astro";
import type { Props as BaseProps } from "./BaseLayout.astro";

interface Props extends BaseProps {
	tags?: string[];
}

const { title, description, image, tags } = Astro.props;
---

<BaseLayout
	{title}
	{description}
	{image}
>
	{
		tags && (
			<div class="pb-6 pt-2">
				{tags.map((tag) => (
					<Tag {tag} />
				))}
			</div>
		)
	}
	<article class="space-y-6">
		<PageHeading transitionName={title}>
			{title}
		</PageHeading>

		<div
			class="prose prose-sm max-w-none lg:prose-lg prose-a:text-primary prose-img:mx-auto prose-hr:my-5"
		>
			<slot />
		</div>
	</article>
</BaseLayout>
